##
## This file is part of the coreboot project.
##
## Copyright 2016 Rockchip Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_GOOGLE_KEVIN

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ID_AUTO
	select SOC_ROCKCHIP_RK3399
	select BOARD_ROMSIZE_KB_8192
	select MAINBOARD_HAS_CHROMEOS
	select COMMON_CBFS_SPI_WRAPPER
	select SPI_FLASH
	select SPI_FLASH_GIGADEVICE
	select SPI_FLASH_WINBOND
	select HAVE_HARD_RESET
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MAINBOARD_DO_NATIVE_VGA_INIT

config CHROMEOS
	select CHROMEOS_VBNV_FLASH
	select VIRTUAL_DEV_SWITCH
	select VBOOT2_MOCK_SECDATA

config MAINBOARD_DIR
	string
	default google/kevin

if EVB_MODE
config MAINBOARD_PART_NUMBER
	string
	default "rk3399evb"

config DRAM_SIZE_MB
	int
	default 4096

config PMIC_BUS
        int
        default 0
endif

if !EVB_MODE
config MAINBOARD_PART_NUMBER
	string
	default "kevin"

config DRAM_SIZE_MB
	int
	default 4096
endif

config MAINBOARD_VENDOR
	string
	default "Google"

config EC_GOOGLE_CHROMEEC_SPI_BUS
	hex
	default 0

config BOOT_MEDIA_SPI_BUS
	int
	default 1

config CONSOLE_SERIAL_UART_ADDRESS
	hex
	depends on DRIVERS_UART
	default 0xFF1A0000

config EVB_MODE
       bool "Build image for EVB"
       default n

endif # BOARD_GOOGLE_KEVIN
